In [1]:
import pymysql

#Setup MYSQL

In [2]:
def connect_mysql():
    # Open database connection
    # Connect to the database"
    db = pymysql.connect(
        host="localhost",
        user="root",
        password="root",
        database="BIRD",
        # port=3306,
    )
    return db


def execute_mysql_query(cursor, query):
    """Execute a MySQL query."""
    cursor.execute(query)
    result = cursor.fetchall()
    return result


def perform_query_on_mysql_databases(query):
    db = connect_mysql()
    cursor = db.cursor()
    result = execute_mysql_query(cursor, query)
    db.close()
    return result

In [3]:
mysql_query = """
SELECT  CAST(SUM(CASE WHEN `Currency` = 'EUR' THEN 1 ELSE 0 END) AS DOUBLE) / SUM(CASE WHEN `Currency` = 'CZK' THEN 1 ELSE 0 END) FROM `customers`
"""

In [4]:
mysql_result = perform_query_on_mysql_databases(mysql_query)

AttributeError: module 'socket' has no attribute 'AF_UNIX'