1. building the model

In [1]:
%pip install langchain_openai langchain_community langchain psycopg2 chromadb -q langchain_prebuilt

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement langchain_prebuilt (from versions: none)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip
ERROR: No matching distribution found for langchain_prebuilt

In [2]:
import langchain_openai
import langchain_community
import langchain
import psycopg2  
import chromadb
import pydantic

In [9]:
#Korte versie met lanchain hulp
from langchain_community.utilities.sql_database import SQLDatabase
from dotenv import load_dotenv
from urllib.parse import quote_plus
import os

# Load environment variables from the .env file
load_dotenv()

# Access variables using os.getenv()
db_name = os.getenv("DB_NAME")
db_user = os.getenv("DB_USER")
db_password = os.getenv("DB_PASSWORD")
db_host = os.getenv("DB_HOST")
db_port = os.getenv("DB_PORT")

encoded_password = quote_plus(db_password)

db_uri = f"postgresql://{db_user}:{encoded_password}@{db_host}:{db_port}/{db_name}"
db = SQLDatabase.from_uri(db_uri)
print(db_uri)  # Debugging

postgresql://dvdrental_user:kWI3%40yvVNP%3EDw%23WI%2C2Hb@idefix.c46iiec3v1ca.eu-west-1.rds.amazonaws.com:5432/dvdrental

In [10]:
print(db.dialect)
print(db.get_usable_table_names())
print(db.table_info)

postgresql
['actor', 'address', 'category', 'city', 'country', 'customer', 'film', 'film_actor', 'film_category', 'inventory', 'language', 'payment', 'rental', 'staff', 'store']

CREATE TABLE actor (
	actor_id SERIAL NOT NULL,
	first_name VARCHAR(45) NOT NULL,
	last_name VARCHAR(45) NOT NULL,
	last_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL,
	CONSTRAINT actor_pkey PRIMARY KEY (actor_id)
)

/*
3 rows from actor table:
actor_id	first_name	last_name	last_update
2	Nick	Wahlberg	2013-05-26 14:47:57.620000
3	Ed	Chase	2013-05-26 14:47:57.620000
4	Jennifer	Davis	2013-05-26 14:47:57.620000
*/


CREATE TABLE address (
	address_id SERIAL NOT NULL,
	address VARCHAR(50) NOT NULL,
	address2 VARCHAR(50),
	district VARCHAR(20) NOT NULL,
	city_id SMALLINT NOT NULL,
	postal_code VARCHAR(10),
	phone VARCHAR(20) NOT NULL,
	last_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL,
	CONSTRAINT address_pkey PRIMARY KEY (address_id),
	CONSTRAINT fk_address_city FOREIGN KEY(city_id) REFERENCES city (city_id)
)

/*
3 rows from address table:
address_id	address	address2	district	city_id	postal_code	phone	last_update
1	47 MySakila Drive	None	Alberta	300			2006-02-15 09:45:30
2	28 MySQL Boulevard	None	QLD	576			2006-02-15 09:45:30
3	23 Workhaven Lane	None	Alberta	300		14033335568	2006-02-15 09:45:30
*/


CREATE TABLE category (
	category_id SERIAL NOT NULL,
	name VARCHAR(25) NOT NULL,
	last_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL,
	CONSTRAINT category_pkey PRIMARY KEY (category_id)
)

/*
3 rows from category table:
category_id	name	last_update
1	Action	2006-02-15 09:46:27
2	Animation	2006-02-15 09:46:27
3	Children	2006-02-15 09:46:27
*/


CREATE TABLE city (
	city_id SERIAL NOT NULL,
	city VARCHAR(50) NOT NULL,
	country_id SMALLINT NOT NULL,
	last_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL,
	CONSTRAINT city_pkey PRIMARY KEY (city_id),
	CONSTRAINT fk_city FOREIGN KEY(country_id) REFERENCES country (country_id)
)

/*
3 rows from city table:
city_id	city	country_id	last_update
1	A Corua (La Corua)	87	2006-02-15 09:45:25
2	Abha	82	2006-02-15 09:45:25
3	Abu Dhabi	101	2006-02-15 09:45:25
*/


CREATE TABLE country (
	country_id SERIAL NOT NULL,
	country VARCHAR(50) NOT NULL,
	last_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL,
	CONSTRAINT country_pkey PRIMARY KEY (country_id)
)

/*
3 rows from country table:
country_id	country	last_update
1	Afghanistan	2006-02-15 09:44:00
2	Algeria	2006-02-15 09:44:00
3	American Samoa	2006-02-15 09:44:00
*/


CREATE TABLE customer (
	customer_id SERIAL NOT NULL,
	store_id SMALLINT NOT NULL,
	first_name VARCHAR(45) NOT NULL,
	last_name VARCHAR(45) NOT NULL,
	email VARCHAR(50),
	address_id SMALLINT NOT NULL,
	activebool BOOLEAN DEFAULT true NOT NULL,
	create_date DATE DEFAULT ('now'::text)::date NOT NULL,
	last_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now(),
	active INTEGER,
	CONSTRAINT customer_pkey PRIMARY KEY (customer_id),
	CONSTRAINT customer_address_id_fkey FOREIGN KEY(address_id) REFERENCES address (address_id) ON DELETE RESTRICT ON UPDATE CASCADE
)

/*
3 rows from customer table:
customer_id	store_id	first_name	last_name	email	address_id	activebool	create_date	last_update	active
524	1	Jared	Ely	jared.ely@sakilacustomer.org	530	True	2006-02-14	2013-05-26 14:49:45.738000	1
1	1	Mary	Smith	mary.smith@sakilacustomer.org	5	True	2006-02-14	2013-05-26 14:49:45.738000	1
2	1	Patricia	Johnson	patricia.johnson@sakilacustomer.org	6	True	2006-02-14	2013-05-26 14:49:45.738000	1
*/


CREATE TABLE film (
	film_id SERIAL NOT NULL,
	title VARCHAR(255) NOT NULL,
	description TEXT,
	release_year year,
	language_id SMALLINT NOT NULL,
	rental_duration SMALLINT DEFAULT 3 NOT NULL,
	rental_rate NUMERIC(4, 2) DEFAULT 4.99 NOT NULL,
	length SMALLINT,
	replacement_cost NUMERIC(5, 2) DEFAULT 19.99 NOT NULL,
	rating mpaa_rating DEFAULT 'G'::mpaa_rating,
	last_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL,
	special_features TEXT[],
	fulltext TSVECTOR NOT NULL,
	CONSTRAINT film_pkey PRIMARY KEY (film_id),
	CONSTRAINT film_language_id_fkey FOREIGN KEY(language_id) REFERENCES language (language_id) ON DELETE RESTRICT ON UPDATE CASCADE
)

/*
3 rows from film table:
film_id	title	description	release_year	language_id	rental_duration	rental_rate	length	replacement_cost	rating	last_update	special_features	fulltext
133	Chamber Italian	A Fateful Reflection of a Moose And a Husband who must Overcome a Monkey in Nigeria	2006	1	7	4.99	117	14.99	NC-17	2013-05-26 14:50:58.951000	['Trailers']	'chamber':1 'fate':4 'husband':11 'italian':2 'monkey':16 'moos':8 'must':13 'nigeria':18 'overcom':
384	Grosse Wonderful	A Epic Drama of a Cat And a Explorer who must Redeem a Moose in Australia	2006	1	5	4.99	49	19.99	R	2013-05-26 14:50:58.951000	['Behind the Scenes']	'australia':18 'cat':8 'drama':5 'epic':4 'explor':11 'gross':1 'moos':16 'must':13 'redeem':14 'won
8	Airport Pollock	A Epic Tale of a Moose And a Girl who must Confront a Monkey in Ancient India	2006	1	6	4.99	54	15.99	R	2013-05-26 14:50:58.951000	['Trailers']	'airport':1 'ancient':18 'confront':14 'epic':4 'girl':11 'india':19 'monkey':16 'moos':8 'must':13
*/


CREATE TABLE film_actor (
	actor_id SMALLINT NOT NULL,
	film_id SMALLINT NOT NULL,
	last_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL,
	CONSTRAINT film_actor_pkey PRIMARY KEY (actor_id, film_id),
	CONSTRAINT film_actor_actor_id_fkey FOREIGN KEY(actor_id) REFERENCES actor (actor_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT film_actor_film_id_fkey FOREIGN KEY(film_id) REFERENCES film (film_id) ON DELETE RESTRICT ON UPDATE CASCADE
)

/*
3 rows from film_actor table:
actor_id	film_id	last_update
1	1	2006-02-15 10:05:03
1	23	2006-02-15 10:05:03
1	25	2006-02-15 10:05:03
*/


CREATE TABLE film_category (
	film_id SMALLINT NOT NULL,
	category_id SMALLINT NOT NULL,
	last_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL,
	CONSTRAINT film_category_pkey PRIMARY KEY (film_id, category_id),
	CONSTRAINT film_category_category_id_fkey FOREIGN KEY(category_id) REFERENCES category (category_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT film_category_film_id_fkey FOREIGN KEY(film_id) REFERENCES film (film_id) ON DELETE RESTRICT ON UPDATE CASCADE
)

/*
3 rows from film_category table:
film_id	category_id	last_update
1	6	2006-02-15 10:07:09
2	11	2006-02-15 10:07:09
3	6	2006-02-15 10:07:09
*/


CREATE TABLE inventory (
	inventory_id SERIAL NOT NULL,
	film_id SMALLINT NOT NULL,
	store_id SMALLINT NOT NULL,
	last_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL,
	CONSTRAINT inventory_pkey PRIMARY KEY (inventory_id),
	CONSTRAINT inventory_film_id_fkey FOREIGN KEY(film_id) REFERENCES film (film_id) ON DELETE RESTRICT ON UPDATE CASCADE
)

/*
3 rows from inventory table:
inventory_id	film_id	store_id	last_update
1	1	1	2006-02-15 10:09:17
2	1	1	2006-02-15 10:09:17
3	1	1	2006-02-15 10:09:17
*/


CREATE TABLE language (
	language_id SERIAL NOT NULL,
	name CHAR(20) NOT NULL,
	last_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL,
	CONSTRAINT language_pkey PRIMARY KEY (language_id)
)

/*
3 rows from language table:
language_id	name	last_update
1	English             	2006-02-15 10:02:19
2	Italian             	2006-02-15 10:02:19
3	Japanese            	2006-02-15 10:02:19
*/


CREATE TABLE payment (
	payment_id SERIAL NOT NULL,
	customer_id SMALLINT NOT NULL,
	staff_id SMALLINT NOT NULL,
	rental_id INTEGER NOT NULL,
	amount NUMERIC(5, 2) NOT NULL,
	payment_date TIMESTAMP WITHOUT TIME ZONE NOT NULL,
	CONSTRAINT payment_pkey PRIMARY KEY (payment_id),
	CONSTRAINT payment_customer_id_fkey FOREIGN KEY(customer_id) REFERENCES customer (customer_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT payment_rental_id_fkey FOREIGN KEY(rental_id) REFERENCES rental (rental_id) ON DELETE SET NULL ON UPDATE CASCADE,
	CONSTRAINT payment_staff_id_fkey FOREIGN KEY(staff_id) REFERENCES staff (staff_id) ON DELETE RESTRICT ON UPDATE CASCADE
)

/*
3 rows from payment table:
payment_id	customer_id	staff_id	rental_id	amount	payment_date
17503	341	2	1520	7.99	2007-02-15 22:25:46.996577
17504	341	1	1778	1.99	2007-02-16 17:23:14.996577
17505	341	1	1849	7.99	2007-02-16 22:41:45.996577
*/


CREATE TABLE rental (
	rental_id SERIAL NOT NULL,
	rental_date TIMESTAMP WITHOUT TIME ZONE NOT NULL,
	inventory_id INTEGER NOT NULL,
	customer_id SMALLINT NOT NULL,
	return_date TIMESTAMP WITHOUT TIME ZONE,
	staff_id SMALLINT NOT NULL,
	last_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL,
	CONSTRAINT rental_pkey PRIMARY KEY (rental_id),
	CONSTRAINT rental_customer_id_fkey FOREIGN KEY(customer_id) REFERENCES customer (customer_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT rental_inventory_id_fkey FOREIGN KEY(inventory_id) REFERENCES inventory (inventory_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT rental_staff_id_key FOREIGN KEY(staff_id) REFERENCES staff (staff_id)
)

/*
3 rows from rental table:
rental_id	rental_date	inventory_id	customer_id	return_date	staff_id	last_update
2	2005-05-24 22:54:33	1525	459	2005-05-28 19:40:33	1	2006-02-16 02:30:53
3	2005-05-24 23:03:39	1711	408	2005-06-01 22:12:39	1	2006-02-16 02:30:53
4	2005-05-24 23:04:41	2452	333	2005-06-03 01:43:41	2	2006-02-16 02:30:53
*/


CREATE TABLE staff (
	staff_id SERIAL NOT NULL,
	first_name VARCHAR(45) NOT NULL,
	last_name VARCHAR(45) NOT NULL,
	address_id SMALLINT NOT NULL,
	email VARCHAR(50),
	store_id SMALLINT NOT NULL,
	active BOOLEAN DEFAULT true NOT NULL,
	username VARCHAR(16) NOT NULL,
	password VARCHAR(40),
	last_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL,
	picture BYTEA,
	CONSTRAINT staff_pkey PRIMARY KEY (staff_id),
	CONSTRAINT staff_address_id_fkey FOREIGN KEY(address_id) REFERENCES address (address_id) ON DELETE RESTRICT ON UPDATE CASCADE
)

/*
3 rows from staff table:
staff_id	first_name	last_name	address_id	email	store_id	active	username	password	last_update	picture
1	Mike	Hillyer	3	Mike.Hillyer@sakilastaff.com	1	True	Mike	8cb2237d0679ca88db6464eac60da96345513964	2006-05-16 16:13:11.793280	b'\x89PNG\r\nZ\n'
2	Jon	Stephens	4	Jon.Stephens@sakilastaff.com	2	True	Jon	8cb2237d0679ca88db6464eac60da96345513964	2006-05-16 16:13:11.793280	None
*/


CREATE TABLE store (
	store_id SERIAL NOT NULL,
	manager_staff_id SMALLINT NOT NULL,
	address_id SMALLINT NOT NULL,
	last_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL,
	CONSTRAINT store_pkey PRIMARY KEY (store_id),
	CONSTRAINT store_address_id_fkey FOREIGN KEY(address_id) REFERENCES address (address_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT store_manager_staff_id_fkey FOREIGN KEY(manager_staff_id) REFERENCES staff (staff_id) ON DELETE RESTRICT ON UPDATE CASCADE
)

/*
3 rows from store table:
store_id	manager_staff_id	address_id	last_update
1	1	1	2006-02-15 09:57:12
2	2	2	2006-02-15 09:57:12
*/

In [11]:
openai_api_key = os.getenv("OPENAI_API_KEY")
lanchain_tracking_v2 = os.getenv("LANCHAIN_TRACKING_V2")
langchain_api_key = os.getenv("LANCHAIN_API_KEY")

In [12]:
print(db.get_usable_table_names())

['actor', 'address', 'category', 'city', 'country', 'customer', 'film', 'film_actor', 'film_category', 'inventory', 'language', 'payment', 'rental', 'staff', 'store']

In [13]:
from langchain.chains import create_sql_query_chain
from langchain_core.runnables import RunnableLambda, RunnablePassthrough
from langchain_core.pydantic_v1 import BaseModel, Field
from langchain.chains.openai_tools import create_extraction_chain_pydantic
from langchain_openai import ChatOpenAI



llm = ChatOpenAI(model="gpt-4o", temperature=0)

# Define Pydantic model for extracting table names
class PromptemplateTables(BaseModel):
    """Table in SQL database."""
    name: str = Field(description="Name of table in SQL database.")
    
# Create the table extraction chain
def extract_relevant_tables(input_text):
    """Extract relevant table names based on user question."""
    table_names = "\n".join(db.get_usable_table_names())
    
    system_prompt = f"""Given the following list of SQL tables, identify ALL tables that MIGHT be relevant to the user question. Only consider tables from this list and ignore any others \
    The tables are:
    
    {table_names}
    
    Remember to include ALL POTENTIALLY RELEVANT tables, even if you're not sure they're needed."""
    
    table_chain = create_extraction_chain_pydantic(PromptemplateTables, llm, system_message=system_prompt)
    
    # Extract tables
    extracted = table_chain.invoke({"input": input_text})
    
    # Extract only table names and return them as a list of strings
    return [table.name for table in extracted]


# Ensure correct input formatting
extract_tables_chain = RunnableLambda(lambda x: x["question"]) | RunnableLambda(extract_relevant_tables) 

# prebuild sql chain
query_chain = create_sql_query_chain(llm, db)

# Assign extracted table names dynamically to `table_names_to_use`
tablequerychain = RunnablePassthrough.assign(table_names_to_use=extract_tables_chain) | query_chain

C:\Users\Xander\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py:3577: LangChainDeprecationWarning: As of langchain-core 0.3.0, LangChain uses pydantic v2 internally. The langchain_core.pydantic_v1 module was a compatibility shim for pydantic v1, and should no longer be used. Please update the code to import from Pydantic directly.

For example, replace imports like: `from langchain_core.pydantic_v1 import BaseModel`
with: `from pydantic import BaseModel`
or the v1 compatibility namespace if you are working in a code base that has not been fully upgraded to pydantic 2 yet. 	from pydantic.v1 import BaseModel

  exec(code_obj, self.user_global_ns, self.user_ns)

In [108]:
from langchain import hub
from langchain_core.messages import HumanMessage
from langchain import PromptTemplate


# Voor input scheme handmatig te valideren 

# Pydantic model for the queryinput
# class PrompttemplateQuery(BaseModel):
#     """Schema for the structured prompt"""
#     question: str = Field(description="Question that user asks")
#     #evidence:str= Field(description="Evidence provided by some datasets")  
#     table_names_to_use: list[str] = Field(description="List of relevant table names")
    
# # Manueel input aanpassen 
# template = """
# You are a PostgreSQL expert. Given an input question, first create a syntactically correct PostgreSQL query to run, then look at the results of the query and return the answer to the input question.
# Unless the user specifies in the question a specific number of examples to obtain, query for at most 5 results using the LIMIT clause as per PostgreSQL. You can order the results to return the most informative data in the database.
# Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in double quotes (") to denote them as delimited identifiers.
# Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
# Pay attention to use CURRENT_DATE function to get the current date, if the question involves "today".

# Use the following format:

# Question: Question here
# SQLQuery: SQL Query to run

# Only use the following tables:
# {table_names_to_use}


# Question: {question}

# """

    
#manueel gemaakte input chain
#agent_executor = create_react_agent(llm, tools, prompt=system_message)  


#Manueel met react agent
#tablequerychain = RunnablePassthrough.assign(table_names_to_use=extract_tables_chain) | agent_executor

In [14]:
# later proberen validatie en genereren van query in 1 prompt te doen 

from langchain_core.output_parsers import StrOutputParser
from langchain_core.prompts import ChatPromptTemplate

system = """Double check the user's {dialect} query for common mistakes, including:
- Using NOT IN with NULL values
- Using UNION when UNION ALL should have been used
- Using BETWEEN for exclusive ranges
- Data type mismatch in predicates
- Properly quoting identifiers
- Using the correct number of arguments for functions
- Casting to the correct data type
- Using the proper columns for joins

If there are any of the above mistakes, rewrite the query.
If there are no mistakes, just reproduce the original query with no further commentary.

Output the final SQL query only."""

prompt = ChatPromptTemplate.from_messages(
    [("system", system), ("human", "{query}")]
).partial(dialect=db.dialect)
validation_chain = prompt | llm | StrOutputParser()

full_chain = tablequerychain | validation_chain

In [ ]:
#Using the tablequerychain

# Simple voorbeeld
query1 = full_chain.invoke({"question": "We want to understand more about the movies that families are watching. The following categories are considered family movies: Animation, Children, Classics, Comedy, Family and Music.Create a query that lists each movie, the film category it is classified in, and the number of times it has been rented out."})
print(f" Example 1{query1}")

#moderate voorbeeld
query2= full_chain.invoke({"question" : "Now we need to know how the length of rental duration of these family-friendly movies compares to the duration that all movies are rented for. Can you provide a table with the movie titles and divide them into 4 levels (first_quarter, second_quarter, third_quarter, and final_quarter) based on the quartiles (25%, 50%, 75%) of the rental duration for movies across all categories? Make sure to also indicate the category that these family-friendly movies fall into."})
print(f"Example 2: \n\n{query2}")
#hard voorbeeld
query3= full_chain.invoke({"question" : "Finally, provide a table with the family-friendly film category, each of the quartiles, and the corresponding count of movies within each combination of film category for each corresponding rental duration category. The resulting table should have three columns:•	Category•	Rental length category•	Count"})
print(f" Example 3: \n\n{query3}")

Simple example ```sql
SELECT
    (SELECT COUNT(*) FROM customers WHERE "currency" = 'EUR')::float /
    (SELECT COUNT(*) FROM customers WHERE "currency" = 'CZK')::float AS eur_to_czk_ratio
```
Moderate Query:

```sql
SELECT "customerid", SUM("amount") AS total_amount
FROM "transactions_1k"
WHERE "date" BETWEEN '2012-01-01' AND '2012-12-31'
GROUP BY "customerid"
ORDER BY total_amount ASC
LIMIT 1;
```
Challenging Query:

```sql
WITH czk_customers AS (
    SELECT "customerid"
    FROM customers
    WHERE "currency" = 'CZK'
),
consumption_2013 AS (
    SELECT y."customerid", c."segment", AVG(y."consumption") AS avg_consumption
    FROM yearmonth y
    JOIN czk_customers czk ON y."customerid" = czk."customerid"
    JOIN customers c ON y."customerid" = c."customerid"
    WHERE y."date" LIKE '2013%'
    GROUP BY y."customerid", c."segment"
),
segment_avg_consumption AS (
    SELECT "segment", AVG(avg_consumption) AS segment_avg
    FROM consumption_2013
    GROUP BY "segment"
)
SELECT
    'SME-LAM' AS comparison,
    (SELECT segment_avg FROM segment_avg_consumption WHERE "segment" = 'SME') -
    (SELECT segment_avg FROM segment_avg_consumption WHERE "segment" = 'LAM') AS difference
UNION ALL
SELECT
    'LAM-KAM' AS comparison,
    (SELECT segment_avg FROM segment_avg_consumption WHERE "segment" = 'LAM') -
    (SELECT segment_avg FROM segment_avg_consumption WHERE "segment" = 'KAM') AS difference
UNION ALL
SELECT
    'KAM-SME' AS comparison,
    (SELECT segment_avg FROM segment_avg_consumption WHERE "segment" = 'KAM') -
    (SELECT segment_avg FROM segment_avg_consumption WHERE "segment" = 'SME') AS difference;
```

In [111]:
#stukje om pure SQL te krijgen uit het Output prompt **WIP**
def clean_sql_output(sql_output: str) -> str:
    """Remove markdown-style triple backticks and 'sql' from output."""
    return sql_output.strip().removeprefix("```sql").removeprefix("```").removesuffix("```").strip()

In [112]:
#few shot implementatie

In [ ]:
#Cleanen van output queries

from langchain_community.tools import QuerySQLDatabaseTool

print(f"query1 before{query1}")
query1 = clean_sql_output(query1)
print(f"query1 after{query1}")
print(f"query2 before{query2}")
query2 = clean_sql_output(query2)
print(f"query2 after{query2}")
print(f"query3 before{query3}")
query3 = clean_sql_output(query3)
print(f"query3 after{query3}")

query1 beforeSELECT
    (SELECT COUNT(*) FROM customers WHERE "currency" = 'EUR')::float /
    (SELECT COUNT(*) FROM customers WHERE "currency" = 'CZK')::float AS eur_to_czk_ratio
query1 afterSELECT
    (SELECT COUNT(*) FROM customers WHERE "currency" = 'EUR')::float /
    (SELECT COUNT(*) FROM customers WHERE "currency" = 'CZK')::float AS eur_to_czk_ratio
query2 beforeSELECT "customerid", SUM("amount") AS total_amount
FROM "transactions_1k"
WHERE "date" BETWEEN '2012-01-01' AND '2012-12-31'
GROUP BY "customerid"
ORDER BY total_amount ASC
LIMIT 1;
query2 afterSELECT "customerid", SUM("amount") AS total_amount
FROM "transactions_1k"
WHERE "date" BETWEEN '2012-01-01' AND '2012-12-31'
GROUP BY "customerid"
ORDER BY total_amount ASC
LIMIT 1;
query3 before```sql
WITH czk_customers AS (
    SELECT "customerid"
    FROM customers
    WHERE "currency" = 'CZK'
),
consumption_2013 AS (
    SELECT y."customerid", c."segment", AVG(y."consumption") AS avg_consumption
    FROM yearmonth y
    JOIN czk_customers czk ON y."customerid" = czk."customerid"
    JOIN customers c ON y."customerid" = c."customerid"
    WHERE y."date" LIKE '2013%'
    GROUP BY y."customerid", c."segment"
),
segment_avg_consumption AS (
    SELECT "segment", AVG(avg_consumption) AS segment_avg
    FROM consumption_2013
    GROUP BY "segment"
)
SELECT
    'SME-LAM' AS comparison,
    (SELECT segment_avg FROM segment_avg_consumption WHERE "segment" = 'SME') -
    (SELECT segment_avg FROM segment_avg_consumption WHERE "segment" = 'LAM') AS difference
UNION ALL
SELECT
    'LAM-KAM' AS comparison,
    (SELECT segment_avg FROM segment_avg_consumption WHERE "segment" = 'LAM') -
    (SELECT segment_avg FROM segment_avg_consumption WHERE "segment" = 'KAM') AS difference
UNION ALL
SELECT
    'KAM-SME' AS comparison,
    (SELECT segment_avg FROM segment_avg_consumption WHERE "segment" = 'KAM') -
    (SELECT segment_avg FROM segment_avg_consumption WHERE "segment" = 'SME') AS difference;
```
query3 afterWITH czk_customers AS (
    SELECT "customerid"
    FROM customers
    WHERE "currency" = 'CZK'
),
consumption_2013 AS (
    SELECT y."customerid", c."segment", AVG(y."consumption") AS avg_consumption
    FROM yearmonth y
    JOIN czk_customers czk ON y."customerid" = czk."customerid"
    JOIN customers c ON y."customerid" = c."customerid"
    WHERE y."date" LIKE '2013%'
    GROUP BY y."customerid", c."segment"
),
segment_avg_consumption AS (
    SELECT "segment", AVG(avg_consumption) AS segment_avg
    FROM consumption_2013
    GROUP BY "segment"
)
SELECT
    'SME-LAM' AS comparison,
    (SELECT segment_avg FROM segment_avg_consumption WHERE "segment" = 'SME') -
    (SELECT segment_avg FROM segment_avg_consumption WHERE "segment" = 'LAM') AS difference
UNION ALL
SELECT
    'LAM-KAM' AS comparison,
    (SELECT segment_avg FROM segment_avg_consumption WHERE "segment" = 'LAM') -
    (SELECT segment_avg FROM segment_avg_consumption WHERE "segment" = 'KAM') AS difference
UNION ALL
SELECT
    'KAM-SME' AS comparison,
    (SELECT segment_avg FROM segment_avg_consumption WHERE "segment" = 'KAM') -
    (SELECT segment_avg FROM segment_avg_consumption WHERE "segment" = 'SME') AS difference;

"[('SME-LAM', -25567.717751352167), ('LAM-KAM', -34988.09626486346), ('KAM-SME', 60555.81401621563)]"

In [120]:
#Uitvoeren van Queries op de database **WIP**
execute_query = QuerySQLDatabaseTool(db=db)
print(execute_query.invoke(query1))
print(execute_query.invoke(query2))
print(execute_query.invoke(query3))

[(0.06572769953051644,)]
[(24455, Decimal('0'))]
[('SME-LAM', -25567.717751352167), ('LAM-KAM', -34988.09626486346), ('KAM-SME', 60555.81401621563)]

In [114]:
# 1 chain voor query te generen en uit te voeren **WIP**

chain = query_chain | execute_query
chain.invoke({"question": "What is the ratio of customers who pay in EUR against customers who pay in CZK?"})

'Error: (psycopg2.errors.SyntaxError) syntax error at or near "```"\nLINE 1: ```sql\n        ^\n\n[SQL: ```sql\nSELECT \n    SUM(CASE WHEN "currency" = \'EUR\' THEN 1 ELSE 0 END) AS eur_count,\n    SUM(CASE WHEN "currency" = \'CZK\' THEN 1 ELSE 0 END) AS czk_count\nFROM \n    "customers";\n```]\n(Background on this error at: https://sqlalche.me/e/20/f405)'

In [2]:
string = """ SELECT 
    (SELECT COUNT(*) FROM customers WHERE "currency" = 'EUR')::float / 
    (SELECT COUNT(*) FROM customers WHERE "currency" = 'CZK')::float AS eur_to_czk_ratio
``` """

def clean_sql_output(sql_output: str) -> str:
    """Remove markdown-style triple backticks and 'sql' from output."""
    if not isinstance(sql_output, str):  # Ensure input is a string
        return ""

    cleaned_sql = sql_output.strip()

    # Remove leading triple backticks with or without 'sql'
    if cleaned_sql.startswith("```sql"):
        cleaned_sql = cleaned_sql[6:].strip()  # Remove "```sql"
    elif cleaned_sql.startswith("```"):
        cleaned_sql = cleaned_sql[3:].strip()  # Remove "```"

    # Remove trailing triple backticks if present
    if cleaned_sql.endswith("```"):
        cleaned_sql = cleaned_sql[:-3].strip()

    return cleaned_sql




print (clean_sql_output(string))

SELECT
    (SELECT COUNT(*) FROM customers WHERE "currency" = 'EUR')::float /
    (SELECT COUNT(*) FROM customers WHERE "currency" = 'CZK')::float AS eur_to_czk_ratio

In [121]:
chain.get_prompts()[0].pretty_print()

You are a PostgreSQL expert. Given an input question, first create a syntactically correct PostgreSQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most 5 results using the LIMIT clause as per PostgreSQL. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in double quotes (") to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CURRENT_DATE function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

Only use the following tables:
{table_info}

Question: {input}

In [126]:
# mooier antwoord krijgen **WIP**
from operator import itemgetter

from langchain_core.output_parsers import StrOutputParser
from langchain_core.prompts import PromptTemplate
from langchain_core.runnables import RunnablePassthrough

answer_prompt = PromptTemplate.from_template(
     """Given the following user question, corresponding SQL query, and SQL result, answer the user question.

 Question: {question}
 SQL Query: {query}
 SQL Result: {result}
 Answer: """
 )

rephrase_answer = answer_prompt | llm | StrOutputParser()

chain = (
    RunnablePassthrough.assign(query=full_chain | RunnableLambda(clean_sql_output))  # Clean SQL before execution
    .assign(result=itemgetter("query") | execute_query)  # Execute query
    | rephrase_answer 
 )

#chain.invoke({"question":"What is the ratio of customers who pay in EUR against customers who pay in CZK?","evidence":"ratio of customers who pay in EUR against customers who pay in CZK = count(Currency = 'EUR') / count(Currency = 'CZK')."})
chain.invoke({"question":"Which user added a bounty amount of 50 to the post title mentioning variance?","evidence":"bounty amount of 50 refers to BountyAmount = 50; user refers to DisplayName; title mentioning variance refers to Title include 'variance"})

'The users who added a bounty amount of 50 to the post title mentioning "variance" are "chl" and "shabbychef".'